@import "vars"


/*==========  Desktop First  ==========*/

// <=1200px
+media-breakpoint-down(lg)
  .products
    .bg_img
      bottom: 17%

  .order
    .bg_img
      img

  .scheme
    .circles
      li
        h3
          font-size: 20px

  .girl-form
    padding-bottom: 70px
    img
      position: absolute
      left: -5%
      top: -25.5%
      max-width: 110%

  footer
    .nav_menu
      .nav-item
        .nav-link
          margin-right: 15px

// >=992px
+media-breakpoint-down(md)
  header
    nav
      .nav_menu
        .nav-item
          .nav-link
              font-size: 16px

  .intro
    .title
      h1
        font-size: 48px
      span
        font-size: 24px
    .icons
      .one
        span
          font-size: 16px
    .lead-form
      span
        font-size: 24px
      .row
        padding: 15px 5px
        .form-group
          input
            font-size: 14px
          button
            font-size: 14px

  .products
    .text-block
      padding-bottom: 30px
      .caption
        font-size: 24px
      .number
        font-size: 72px
    .row
      .one
        .title
          font-size: 18px
        .caption
          font-size: 18px
    .bg_img
      display: none

  .order
    .bg_img
      right: -10%
      width: 50%
      img
        max-width: 100%
    .number
      .text
        font-size: 24px
      .num
        font-size: 48px
        line-height: 1.5em
    .order_cards
      padding-top: 10px
      .one
        margin-bottom: 10px
        padding-left: 0
        padding-right: 10px
        .wrapper
          img

  .lead
    .content
      h2
        font-size: 36px
      p
        font-size: 24px
      b
        font-size: 24px
      .btn
        font-size: 18px

  .transport
    h2
      font-size: 24px
    .tr_item
      h3
        font-size: 18px
      .tr_text
        .price
          font-size: 16px

  .scrap_metal
    h2
      font-size: 24px
    .one
      h3
        font-size: 18px

  .assessment
    .lead-form
      span
        font-size: 24px
      .row
        padding: 15px 5px
        .form-group
          input
            font-size: 14px
          button
            font-size: 14px

  .dismantling
    h2
      font-size: 24px
    p
      font-size: 18px
    .one
      .wrapper
        .description
          h3
            font-size: 18px

  .scheme
    padding: 30px 0px
    h2
      font-size: 24px
    .circles
      .one
        h3
          font-size: 18px
          padding: 0px 5px
        &:nth-child(4),&:nth-child(5)
          display: none

  .girl-form
    padding: 20px
    h2
      font-size: 24px
    p
      font-size: 18px
    img
      left: 10%
      top: -1.5%
      max-width: 140%
    .form-inline
      padding-bottom: 40px
      .form-group
        input
          font-size: 14px
        button
          font-size: 14px

  footer
    padding: 20px
    .telephone
      display: flex
      justify-content: flex-end
      p
        font-size: 18px
        a
          font-size: 15px
// ≥768px
+media-breakpoint-down(sm)

// ≥576px
+media-breakpoint-down(xs)

  header
    .header_top
      display: none
    nav
      background: #fff
      color: $orange
  .intro
    .title
      h1
        font-size: 30px
      span
        font-size: 18px
    .icons
      flex-direction: column
      padding-bottom: 10px
      .one
        span
          font-size: 21px
      .one
        flex-basis: auto
        margin-bottom: 20px
    .lead-form
      span
        font-size: 18px
      .row
        padding: 0
        border: 0
        margin: 5px 0px
        .form-group
          margin: 0
          input
            display: none
          button
            font-size: 16px

  .products
    .text-block
      .number
        font-size: 60px
    .row
      .one
        .title
          font-size: 16px
        .caption
          font-size: 16px

  .order
    .bg_img
      display: none
    .number
      .num
        font-size: 30px
        line-height: 2em
    .order_cards
      .one
        .wrapper
          width: 70%
          img

  .lead
    padding: 70px 0px
    .content
      width: 90%

      h2
        font-size: 24px
      p
        font-size: 18px
      .btn
        font-size: 16px
        width: 80%

  .transport
    padding: 20px 0px
    h2
      padding: 0px
      margin: 0px

  .scrap_metal
    h2
      margin-bottom: 30px
    .one

      &:nth-child(1)
        padding-bottom: 20px
      h3
        margin: 0
        text-align: center
      .img
        &:after
          transform: skewX(0deg)

      &:nth-child(2)
        h3
          margin: 0
          text-align: center
        .img
          &:after
            transform: skewX(0deg)

  .assessment
    .lead-form
      padding-bottom: 20px
      .form-inline
        .row
          border: 0
          .form-group
            input
              font-size: 16px
            button
              font-size: 16px

  .dismantling
    .one
      .wrapper
        #h3
          padding: 10px 0px
        .description
          h3
            font-size: 24px
    .btn
        display: none

  .scheme
    .circles
      flex-wrap: wrap
      li:before
        font-size: 20px
        width: 50px
        line-height: 50px
        top: -30px
      .one
        flex-basis: 100%
        max-width: 320px
        margin: auto
        margin-bottom: 3rem
        .icon
          margin-bottom: 3rem

  .girl-form
    padding-bottom: 0px
    padding-top: 40px
    img
      display: none
    .form-inline
      padding-bottom: 20px
      .form-group
        input
          font-size: 16px
        button
          font-size: 16px

  footer
    padding: 40px 0px
    .nav_menu
      margin-top: 20px !important
      .nav-item
        display: block
        .nav-link
          margin-right: 0
          margin-bottom: 10px
    .telephone
      padding-top: 10px
      p
        font-size: 19px
        a
          font-size: 16px
    .row
      div
        justify-content: center
        text-align: center

/*==========  Mobile First  ==========*/

// ≤576px
+media-breakpoint-up(sm)

// ≤768px
+media-breakpoint-up(md)

// ≤992px
+media-breakpoint-up(lg)

// ≤1200px
+media-breakpoint-up(xl)
