$default-font: "roboto-example", sans-serif
$orange: #d0361e
$text: #333

// Customization Bootstrap vars from "app/libs/bootstrap/scss/_variables.scss"
$grid-gutter-width: 30px
$grid-columns: 12
$grid-breakpoints: (xs: 0, sm: 576px, md: 768px, lg: 992px, xl: 1200px)
$container-max-widths: (sm: 540px, md: 720px, lg: 960px, xl: 1140px)

$gutter: $grid-gutter-width

@mixin sectionpadding()


.shadow_around
  -webkit-box-shadow: 0px 0px 70px -5px #d0361e
  -moz-box-shadow: 0px 0px 70px -5px #d0361e
  box-shadow: 0px 0px 70px -5px #d0361e